body{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(./assets/img/welcome.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.title {
	top: 8%;                      
    position: absolute;   
	left: 50%;
    transform: translate(-50%, 0);
	text-align: center;
	color: white;
	font-weight: bold;
	background: rgba(7, 40, 195, 0.7);
	padding: 15px;
}

.prof {
	position: relative;
	margin-top: 10vh;
}

.out{
	box-sizing: border-box;
	background: rgba(7, 40, 195, 0.7);
	font-family: "Roboto", sans-serif;
    margin-top: 25vh;
	padding: 1%;
	width: 430px;
    position: absolute;   
	left: 50%;
    transform: translate(-50%, 0);
	text-align: center;
	color: white;
	font-weight: bold;
}

.out button{
	margin: 40px auto 0;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #A9A9A9;
	width: 60%;
	border: 0;
	padding:15px;
	color: #FFFFFF;
	cursor: pointer;
}
